html,body{
    font-family: "微软雅黑";
    background-color: #fcfcfa;
}
      

.header .navbar-default{
    background-color: #fff;
	min-height:90px;
	border:none;
	box-shadow: rgb(204, 204, 204) 0px 1px 3px;
}

.navbar{
	margin-bottom:0;
}

.header .navbar-brand > img {
	margin-top: -10px;
	margin-left:100px;
}

.header .navbar-right {
    margin-right: 50px;
}

.header .navbar-default .navbar-collapse ul{
    margin-top: 3px;
}

.header .navbar-default .navbar-collapse ul li{
	width:100px;
    height:52px;
	border:1px solid #ccc;
	border-radius:5px;
	text-align:center;
	background:#32CD32;
	margin-right:10px;
}

.header .navbar-default .navbar-header > span{
	padding-top:25px;
	padding-left:0px;	
}

.header .navbar-default .navbar-collapse ul li > a{
	color:#333;
}

.header .navbar-default .navbar-collapse ul li > a:hover{
    color: #fff;
}

.carousel-inner .item img{
	width: 100%;
}

.bread-nav .breadcrumb{
    background: #fff;
    box-shadow: rgb(204, 204, 204) 0px 4px 8px;
    width: 60%;
    height: 40px;
    margin: 0 auto;
    border-radius: none;
}

.bread-nav .breadcrumb li a{
    color: #c09f82;
}

@media (min-width: 768px) and (max-width: 1150px) {
	.header .navbar-right {
		margin-right: 10px;
	}
	.header .navbar-brand > img {
		margin-left: 10px;
	}
	.navbar-brand{
		padding-right:5px;
	}
	.header .navbar-header .navbar-brand > span{
		font-size:15px !important;
	}
	.header .navbar-default .navbar-collapse ul{
		margin-top:5px;
	}
	.nav > li > a {
		padding: 10px 10px;
	}
	.header .navbar-default .navbar-collapse ul li{
		width:90px;
		height:52px;
	}
	.navbar-nav > li > a {
		line-height: 30px;
	}

}
@media (min-width: 891px) and (max-width: 991px) {
	.header .navbar-right {
		margin-right: 0px;
	}
	.header .navbar-brand > img {
		margin-left: 0px;
		width:65px;
		margin-top: -3px;
	}
	
}

@media (min-width: 768px) and (max-width: 890px){

	.header .navbar-default .navbar-collapse ul{
		margin-top:10px;
		margin-right: -5px;
	}
	.header .navbar-default .navbar-collapse ul li{
		width:83px;
		height:42px;
		margin-right: 5px;
	}
	.header .navbar-default .navbar-collapse ul li:first-child{
		width:65px !important;
	}
	.header .navbar-default .navbar-collapse ul li:last-child{
		margin-right:0;
	}
	.header .navbar-default .navbar-collapse ul li a{
		font-size:15px;
	}
	.header .navbar-brand > img {
		margin-left: -5px;
		width:63px;
		margin-top: -2px;
	}
	.header .navbar-right {
		margin-right: 0px;
	}
	.header .navbar-header .navbar-brand > span {
		font-size: 14px !important;
	}
	.navbar-nav > li > a {
		line-height: 20px;
	}
	.header .navbar-default .navbar-header > span{
		padding-top:23px;
	}
	.header .navbar-brand{
		padding-right:0;
	}

}

@media(max-width: 767px){
	.header .navbar-brand > img {
		margin-left: 0px;
		width:70px;
		margin-top: -15px;
	}
	.navbar-toggle {
		margin-top: 26px;
		margin-right: 25px;
	}
	.header .navbar-default{
		min-height:70px;
	}
	.header .navbar-default .navbar-header > span{
		padding-top:15px;
	}
	.header .navbar-header .navbar-brand > span {
		font-size: 15px !important;
	}
	.navbar-toggle {
		margin-top: 20px;
	}
	.header .navbar-default .navbar-collapse ul li{
		background:#fff;
		border:none;
		height:40px;
		width:100%;
		text-align:left;
	}
	.header .navbar-default .navbar-collapse ul li > a:hover{
		color:green;
		font-size:18px;
	}
}

@media(max-width: 550px){
	.navbar-toggle {
		margin-right: 15px;
	}
	.header .navbar-brand{
		padding-right:0;
	}
	.header .navbar-brand > img {
		width:55px;
		margin-top: -6px;
	}
	.header .navbar-header .navbar-brand > span {
		font-size: 14px !important;
	}
	.navbar-toggle {
		padding: 8px 8px;
	}
}
@media(max-width: 300px){
	.header .navbar-header .navbar-brand > span {
		display:none;
	}
}
